<h4 class="text-center">Add a new TODO item</h4>
<br/><br/>
<form (ngSubmit)="addTodoItem(title, content)">
  <div class="form-group row">
    <div class="offset-sm-1 col-sm-8">
      <input type="text" class="form-control" placeholder="Title" name="title" [(ngModel)]="title"/>
    </div>
    <div class="offset-sm-1 col-sm-2">
      <button type="submit" class="btn btn-primary">Add TODO</button>
    </div>
    <br/><br/>
    <div class="offset-sm-1 col-sm-8">
      <textarea class="form-control" placeholder="Description" name="content" [(ngModel)]="content" ></textarea>
    </div>
  </div>
</form>
